 <!DOCTYPE html>
   <head>
         <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
      </head>
   <body>
   <h1>Hello</h1>
   <!-- Plotly chart will be drawn inside this div -->
   <div id="plotly-div"></div>
   <div id="cluster-div"></div>
     <script src="../js/2dclustering.js">
        // JAVASCRIPT CODE GOES HERE
         </script>
   <script src="../js/"></script>
  </body>
</html>